# Injellij
.idea/workspace.xml

# docker
docker/sshd/users.conf
docker/size-checker/ssmtp.conf
docker/openvpn-transmission-flexget/bash_history

# chart deps
charts/gogs/charts/

# secrets and private files
secrets.sh

# node
node_modules/
