#! /bin/sh
export TRANSMISSION_HOME={{ .Env.TRANSMISSION_HOME }}

export ENABLE_UFW={{ default "false" .Env.ENABLE_UFW }}

export PUID={{ default "1000" .Env.PUID }}
export PGID={{ default "1000" .Env.PGID }}

# Need to pass through our tinyproxy settings
export WEBPROXY_ENABLED={{ default "false" .Env.WEBPROXY_ENABLED }}
export WEBPROXY_PORT={{ default "8888" .Env.WEBPROXY_PORT }}

# Support custom web frontend
{{ if .Env.TRANSMISSION_WEB_HOME }} export TRANSMISSION_WEB_HOME={{ .Env.TRANSMISSION_WEB_HOME }} {{end}}

# Support dropping the default route after connection
export DROP_DEFAULT_ROUTE={{ default "false" .Env.DROP_DEFAULT_ROUTE }}
