---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: k8s-infrastructure
  namespace: kube-system
spec:
  interval: 1m0s
  ref:
    branch: main
  url: https://github.com/gandazgul/k8s-infrastructure.git
  ignore: |
    clusters/**/apps/values/
