---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: sealed-secret
  namespace: kube-system
spec:
  interval: 10m0s
  path: ./clusters/{{CLUSTER_NAME}}/sealed-secret/
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-infrastructure
    namespace: kube-system
