#####################################################################################################################
# COPY THIS FILE AS secrets.env TO YOUR CLUSTER FOLDER AND FILL IT OUT
#####################################################################################################################

# A password used for a couple of services
ADMIN_PASSWORD=
# An email address for notifications
EMAIL=
# The smtp password to authenticate with gmail for sending notifications (application passwords on your google account)
SMTP_PASSWORD=
# VPN User name
VPN_USER=
# VPN Password
VPN_PASSWORD=
# The city where the server is located or the result of loading this on the same network as the server: https://ifconfig.co/city
VPN_CITY=
# The time zone to apply to all containers
CLUSTER_TIME_ZONE=America/New_York
# The token bitwarden uses to encrypt the admin settings.
# Obtained a random password by running: `openssl rand -base64 48`
# Obtained the token by running: docker run --rm -it vaultwarden/server /vaultwarden hash
# and entering the password obtained above.
BITWARDEN_ADMIN_TOKEN=
# The token paperless uses to encrypt the username and passwords. Random, obtained via: `openssl rand -base64 48`
PAPERLESS_SECRET_KEY=
# The password hash for gitops dashboard. Obtained like this: echo -n $PASSWORD | gitops get bcrypt-hash
GITOPS_DASHBOARD_PASSWORD=
# ACME DNS credentials.
# consider running our own: https://github.com/joohoi/acme-dns
# Obtained from "curl -s -X POST https://auth.acme-dns.io/register"
# tested with: curl -X POST -H "X-Api-User: $ACME_DNS_USERNAME" -H "X-Api-Key: $ACME_DNS_PASSWORD" -d '{"subdomain": "$ACME_DNS_SUBDOMAIN", "txt": "1234567890123456789012345678901234567890123"}' https://auth.acme-dns.io/update
ACME_DNS_USERNAME=
ACME_DNS_PASSWORD=
ACME_DNS_SUBDOMAIN=

# Control plane node information. These 2 values are filled in automatically.
CONTROL_PLANE_IP=
CONTROL_PLANE_NAME=

# required - ingress config
# Services will use this name for their ingresses
CLUSTER_DOMAIN_NAME=
# The name of this cluster. For ENV variables mostly
CLUSTER_NAME=
# The email address used to register the Cloudflare account
CLOUDFLARE_API_EMAIL=
# Signup for free at CloudFlare.com and create an API Token not a key
CLOUDFLARE_API_TOKEN=
# The zone id for the cluster domain name
# Use this to get it: cat curl "https://api.cloudflare.com/client/v4/zones" --header "Authorization: Bearer $CLOUDFLARE_API_TOKEN" | jq '[.result.[0].id,.result.[0].name]'
CLOUDFLARE_ZONE_ID=
