#####################################################################################################################
# COPY THIS FILE AS secrets.env TO YOUR CLUSTER FOLDER AND FILL IT OUT
#####################################################################################################################

# A password used for a couple of services
ADMIN_PASSWORD=
# An email address for notifications
EMAIL=
# The smtp password to authenticate with gmail for sending notifications (application passwords on your google account)
SMTP_PASSWORD=
# VPN User name
VPN_USER=
# VPN Password
VPN_PASSWORD=
# The city where the server is located or the result of loading this on the same network as the server: https://ifconfig.co/city
VPN_CITY=
# The token bitwarden uses to encrypt the admin settings. Random, obtained via: `openssl rand -base64 48`
BITWARDEN_ADMIN_TOKEN=
# The token paperless uses to encrypt the username and passwords. Random, obtained via: `openssl rand -base64 48`
PAPERLESS_SECRET_KEY=

# required - ingress config
# Services will use this name for their ingresses (get one free at https://noip.com)
INGRESS_INTERNAL_NAME=
# Gogs and any other services exposed to the outside world will use this name (get one free at https://www.freenom.com/ *.tk and others are free)
INGRESS_EXTERNAL_NAME=

# Master node information. These 2 values are filled in automatically.
MASTER_IP=
MASTER_NODE_NAME=
