---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: kube-system
  namespace: flux-system
spec:
  dependsOn:
  - name: sealed-secret
  interval: 10m0s
  path: ./infrastructure/kube-system/
  sourceRef:
    kind: GitRepository
    name: flux-system
  prune: true
  validation: client
  postBuild:
# constants can be specified like this:
#    substitute:
#      cluster_env: "prod"
#      cluster_region: "eu-central-1"
    substituteFrom:
# substitutions can also come from a config map or secret
#    - kind: ConfigMap
#      name: cluster-vars
    - kind: Secret
      name: secrets

# use ${var:=default} or ${var} in the files to place variables
