---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: sealed-secrets
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./clusters/gandazgul/sealed-secrets/
  sourceRef:
    kind: GitRepository
    name: flux-system
  prune: true
  validation: none
